<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914380146036-d6teqq1df9gl7qgam93870dpropr54k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914380146036-d6teqq1df9gl7qgam93870dpropr54k5</string>
	<key>API_KEY</key>
	<string>AIzaSyCy4H_ISpHRa7mkbxLdJuipuwcb83WiQTY</string>
	<key>GCM_SENDER_ID</key>
	<string>914380146036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepeshkalura.freepay</string>
	<key>PROJECT_ID</key>
	<string>freepay-394fb</string>
	<key>STORAGE_BUCKET</key>
	<string>freepay-394fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914380146036:ios:9ca5ffb5d4c0b4d155d821</string>
</dict>
</plist>